body {
  background-color: lightgray;
  margin-top: 0;
  margin: 0;
}
 
section.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: gray;
}
section.header div#header h1{
  text-align: left;
  width: 100%;
  margin-bottom: 0;
}
section.header div#header p{
  text-align: left;
  width: 100%;
  margin-top: 0;
}
section.header div#header_boton{
  display: flex;
  align-items: center;
}