h2 {
    margin-bottom: 30px;
    text-align: center;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    color: white;
}


.modal-content {
    background: #1E293B;
    padding: 20px 30px;
    border-radius: 12px;
    width: 380px;
    position: relative;
    animation: aparecer 0.2s ease-out;
}


@keyframes aparecer {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}


.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ef4444;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}


.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content input,
.modal-content select {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-guardar {
    padding: 10px;
    margin-top: 10px;
    background: #3B82F6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-guardar:hover {
    background: #1D4ED8;
}