body {
  background-color: lightgray;
  margin-top: 0;
  margin: 0;
}
 
section.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: gray;
  padding: 16px;
  box-sizing: border-box;
}
section.header div#header{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
section.header div#header h1{
  text-align: left;
  width: auto;
  margin-bottom: 0;
}
section.header div#header p{
  text-align: left;
  width: auto;
  margin-top: 0;
}
section.header div#header_boton{
  display: flex;
  align-items: center;
}

section.juegos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: whitesmoke;
  margin: 0;
  padding: 24px 0;
  box-sizing: border-box;
}
section.juegos div#juegos{
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

section div.juegos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}