
.tarjeta_juego {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform .2s;
  gap: 10px;
  column-gap: 2.5px;
  width: 90%;
  margin: 20px;
}

div.info h3{
  margin-bottom: 5px;
}

div.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.tarjeta_juego:hover {
  transform: scale(1.03);
}


.tarjeta_juego img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  object-position: center;
  background-color: #f5f5f5;
  border-radius: 10px;
}
