
.tarjeta_juego {
  background: #111827;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform .2s;
  gap: 10px;
  column-gap: 2.5px;
  width: 80%;
  margin: 20px;
  color: white;
}

div.info {
  width: 100%;
}

div.info h3{
  margin-bottom: 5px;
}

div.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.tarjeta_juego:hover {
  transform: scale(1.03);
}


.tarjeta_juego img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  object-position: center;
  background-color: #111827;
  border-radius: 10px;
}

div.botones {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: right;
  width: 100%;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.tarjeta_juego:hover .botones {
  opacity: 1;
  pointer-events: auto;
}

button{
  background-color: #3B82F6;
  color: white;
  border-radius: 4px;
}

button:hover{
  background-color: #1D4ED8;
}

.comentarios {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  background: #1F2937;
  border-radius: 8px;
}
.comentario {
  margin-bottom: 8px;
  border-bottom: 1px solid #374151;
  padding-bottom: 4px;
}

.tarjeta_juego.expandida {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  max-height: 80vh;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  flex-direction: column;
  background-color: #1F2937;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border-radius: 12px;
}

.comentarios_expandida {
  margin-top: 10px;
}

.comentarios_expandida .cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ef4444;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}